body {
    font-family: 'Proxima Nova', 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6); /* Slightly transparent white */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #3d3d3d;
    font-size: 30px;
}

#quote {
    font-size: 36px; /* Increased font size for the quotes */
    margin-bottom: 30px; /* Added margin for better spacing */
}

button {
    padding: 10px 20px; /* Reduced padding */
    font-size: 20px;
    cursor: pointer;
    background-color: #ff6961;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-top: 10px; /* Added margin-top to separate from the paragraph */
    transition: background-color 0.3s ease;
}

label {
    margin-right: 10px;
    color: #3d3d3d;
}

input {
    padding: 15px;
    font-size: 14px;
    border: 3px solid #ccc;
    border-radius: 4px;
}

.footer {
    margin-top: 60px;
    font-size: 16px;
    color: #666666;
}
